<!DOCTYPE html>
<html>
  <head>
    <title>nasa apod home</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <h1>nasa astronomy picture of the day</h1>
    </header>

    <main>
      <p>view the nasa astronomy picture of the day and save your favorites.</p>
      <a class="primary-link" href="/apod">go to app</a>
    </main>
  </body>
</html>